<section id="body">
  <div class="container">

    <%= form_tag("/change_update", method: "post",id:'change') do %>
      <table class="table2">
        <tbody>
        <tr>
          <td style="color:#FF0000" colspan="2"> <% if flash[:alert] %> <p id="notice"><%= flash[:alert] %></p><% end %></td>
        </tr>
        <tr>
          <td><%= label_tag :name, 'Old Password:' %></td>
          <td><%= password_field_tag :password_old, params[:password_old],:class => 'required' %></td>
        </tr>
        <tr>
          <td><%= label_tag :name, 'New Password:' %></td>
          <td><%= password_field_tag :password, params[:password],:class => 'required' %></td>
        </tr>
        <tr>
          <td><%= label_tag :name, 'Confirm Password:' %></td>
          <td> <%= password_field_tag :password_confirmation, params[:password_confirmation],:class => 'required' %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><%= submit_tag "Submit",:class => "button" %></td>
        </tr>
        </tbody></table>
    <% end %>

  </div>
</section>

<script type="text/javascript" language="javascript">
    $(document).ready(function(){
        $("#change").validate({
            rules: {
                role: {
                    required: true,
                    minlength:1,
                }

            }
        });
    });
</script>