 <% if @leave_heading=='Request For Leave'%>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><strong>Hi <%= @manager.first_name  %> <%= @manager.last_name  %></strong>
</p>
 <% else %>
     <p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><strong>Hi</strong></p>
<% end %>

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid rgb(174, 174, 174); border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
  <tbody>
  <tr>
    <th colspan="2" style="text-align: left; background-color: rgb(204, 204, 204); padding: 5px; background-position: initial initial; background-repeat: initial initial;" height="10"><%= @leave_heading %></th>
  </tr>  
<%  @leafe.each do |k,l| %>
 <% if l!='' %>
 <tr>
    <th style="border: 1px solid rgb(174, 174, 174); text-align: left; padding: 5px;" height="10"><%= k.capitalize %></th>
    <td style="border: 1px solid rgb(174, 174, 174); padding: 5px;" height="10"><%= number_to_human(l) %></td>
  </tr>
<% end %>
<% end %>

  </tbody>
</table>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
  <strong>Note:</strong>
  Please
<%= link_to "click here" ,root_path  ,:target=>"_blank" %>  for more details.
  <br/>
  <br/>
  <strong>
    Thank you,
    <br/>
    OLM
  </strong>
</p>
