
<section id="body">
  <div class="container">
    <div class="col12">
   <%= form_for @employee , :url =>  @employee.new_record? ? admin_employees_path: admin_employee_path,html: {id: 'employee',name:'employee'}  do |f| %>
    		 <table class="table2 width_full" style="border:solid 1px #0d5478;">
			
			
			 
				<tr>
                	<td>
                    	<table align="center">
                        	<tr>
                         <td colspan="2" align="center">
	                  <h1><%= @heading %></h1>
                         </td></tr>
	              <%  if @employee.errors.any? %>
			<tr>
                        <td colspan="2" align="center">
			  <div id="error_explanation">
			      <ul>
			      <% @employee.errors.full_messages.each do |msg| %>
				<li style="color:red;"><%= msg %></li>
			      <% end %>
			      </ul>
			    </div></td>			
			</tr>
                         <% end %>

				<% if flash[:notice] %>
			<tr>
                        <td colspan="2" align="center"><h1><%= flash[:notice] %> </h1></td>			
			</tr>
                         <% end %>
                             <tr>       
                              <td valign="top"><%= f.label :'Employee ID:' %></td>
                              <td><%= f.text_field :empid ,:class => 'required'%></td>
                            </tr>
                            <tr>
                              <td valign="top"><%= f.label :'First Name:' %></td>
                              <td><%= f.text_field :first_name ,:class => 'required'%></td>
                            </tr>
                             <tr>
                              <td valign="top"><%= f.label :'Last Name:' %></td>
                              <td><%= f.text_field :last_name ,:class => 'required'%></td>
                            </tr>
                            
                            <tr>
                              <td valign="top"><%= f.label :'Email:' %></td>
                              <td><%= f.text_field :email ,:class => 'required'%></td>
                            </tr>
                           <tr>
                              <td valign="top"><%= f.label :'Contact No:' %></td>
                              <td><%= f.text_field :contact_no ,:class => 'required'%></td>					
                            </tr>
                            <tr>
                              <td valign="top"><%= f.label :'Address:' %></td>
                              <td><%= f.text_area :address ,:class => 'required'%>
                              
                              <% if @employee.id.blank? %>
                              <%= f.hidden_field :password ,:value=>'logictree' %>
                              <%= f.hidden_field :password_confirmation ,:value=>'logictree' %>
                              <% end %>
                             </td>
                            </tr>
	                     <tr>
                              <td valign="top"><%= f.label :'Role:' %></td>
                              <td>
                              <% @roles.each do |role| %>
			     
				<%= check_box_tag "roles_ids[]",  role.id , @condition.include?(role.id) || role.id==2 ? true : false %>
				<%=  role.title -%>			      
			        <% end %>
                                </td>					
                            </tr>
                             <tr>
                              <td valign="top"><%= f.label :'Location:' %></td>
                              <td> 
 

                <%= select_tag(:location_id, options_from_collection_for_select(@locations, :id, :title , params[:location_id] ||  @employee.location_id)) %>
                            
                               </td>					
                            </tr>
                            
			      <tr>
			      <td valign="top"> <%= f.label :"Manager" %></td>
			      <td>
                            <% cities_array = @manager_list.all.map { |employee| [employee.first_name.capitalize+' '+employee.last_name.capitalize, employee.id] } %>
<%= select_tag(:manager_id,  options_for_select(cities_array , params[:manager_id] ||  @employee.manager_id) ) %>
			      </td>
				
			     </tr> 
                             
                           
                           
                            <tr>
                              <td>&nbsp;</td>
                              <td><%= f.submit 'Submit',:class=>'button' %></td>
                            </tr>                            
                        </table>
                    </td>
                </tr>
				
				
              </table>  
					
<% end %>
    </div>
  </div>
</section>
<script type="text/javascript"> 
	$(document).ready(function(){ 
         $.validator.messages.required = '';
		$("#employee").validate({
		 rules: {
			role: {
				required: true,
				minlength:1,
			}
		 } 
		}); 
	}); 
</script>




