<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @leafe.employee_id %>
</p>

<p>
  <b>Els:</b>
  <%= @leafe.els %>
</p>

<p>
  <b>Nels:</b>
  <%= @leafe.nels %>
</p>

<p>
  <b>Lops:</b>
  <%= @leafe.lops %>
</p>

<p>
  <b>Compoffs:</b>
  <%= @leafe.compoffs %>
</p>

<p>
  <b>Is special:</b>
  <%= @leafe.is_special %>
</p>

<p>
  <b>Createdby:</b>
  <%= @leafe.createdby %>
</p>

<p>
  <b>Modifiedby:</b>
  <%= @leafe.modifiedby %>
</p>


<%= link_to 'Edit', edit_leafe_path(@leafe) %> |
<%= link_to 'Back', leaves_path %>
